/*!
 * This file is part of the DITA Open Toolkit project. 
 *
 * Copyright 2004, 2005 IBM Corporation
 *
 * See the accompanying LICENSE file for applicable license.
 *
 * Copyright 2019 Antenna House, Inc.
 * Modified based on DITA-OT Apache 2.0 license
 *
 */
body {
  direction: ltr; }

.hazardstatement td,
.hazardstatement th {
  padding: 0.5rem; }

.hazardstatement th {
  text-align: center;
  text-transform: uppercase; }

.hazardstatement-caution {
  background-color: #ffd100; }

.hazardstatement-danger {
  background-color: #c8102e;
  color: #fff; }

.hazardstatement-warning {
  background-color: #ff8200; }

.hazardstatement-attention, .hazardstatement-fastpath, .hazardstatement-important, .hazardstatement-note, .hazardstatement-notice, .hazardstatement-other, .hazardstatement-remember, .hazardstatement-restriction, .hazardstatement-tip {
  background-color: #0072ce;
  color: #fff;
  font-style: italic; }

.codeblock {
  font-family: monospace; }

.codeph {
  font-family: monospace; }

.kwd {
  font-weight: bold; }

.parmname {
  font-weight: bold; }

.var {
  font-style: italic; }

.filepath {
  font-family: monospace; }

.tasklabel {
  font-size: 100%;
  margin-bottom: 1em;
  margin-top: 1em; }

/* fn has two presentaion requirements.
   fn-ref:  footnore reference character
   fn-body: footnote body
*/
.fn-ref {
  font-size: 0.8em;
  vertical-align: super; }

.fn-body {
  font-size: 0.9em; }

.screen {
  background-color: #ccc;
  border: outset;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 5px;
  white-space: pre; }

.wintitle {
  font-weight: bold; }

.numcharref {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.parameterentity {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.textentity {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlatt {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlelement {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlnsname {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlpi {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.frame-top {
  border-top: solid 1px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; }

.frame-bottom {
  border-top: 0;
  border-right: 0;
  border-bottom: solid 1px;
  border-left: 0; }

.frame-topbot {
  border-top: solid 1px;
  border-right: 0;
  border-bottom: solid 1px;
  border-left: 0; }

.frame-all {
  border: solid 1px;
  padding: 4px; }

.frame-sides {
  border-top: 0;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: 0;
  padding-left: 4px;
  padding-right: 4px; }

.frame-none {
  border: 0; }

.scale-50 {
  font-size: 50%; }

.scale-60 {
  font-size: 60%; }

.scale-70 {
  font-size: 70%; }

.scale-80 {
  font-size: 80%; }

.scale-90 {
  font-size: 90%; }

.scale-100 {
  font-size: 100%; }

.scale-110 {
  font-size: 110%; }

.scale-120 {
  font-size: 120%; }

.scale-140 {
  font-size: 140%; }

.scale-160 {
  font-size: 160%; }

.scale-180 {
  font-size: 180%; }

.scale-200 {
  font-size: 200%; }

.expanse-page, .expanse-spread {
  width: 100%; }

.fig {
  /* Default of italics to set apart figure captions */
  /* Use @frame to create frames on figures */ }

.fig figcaption {
  font-style: italic; }

.fig .desc {
  font-style: normal; }

.fig-frame-all {
  border-color: Silver;
  border-style: solid;
  border-width: 2px;
  margin-top: 1em;
  padding: 3px; }

.fig-frame-sides {
  border-left: 2px solid silver;
  border-right: 2px solid silver;
  margin-top: 1em;
  padding-left: 3px;
  padding-right: 3px; }

.fig-frame-top {
  border-top: 2px solid silver;
  margin-top: 1em;
  padding-top: 3px; }

.fig-frame-bottom {
  border-bottom: 2px solid silver;
  margin-top: 1em;
  padding-bottom: 3px; }

.fig-frame-topbot {
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  margin-top: 1em;
  padding-top: 3px;
  padding-bottom: 3px; }

/* Align block level images based on @align on topic/image */
.image-left {
  text-align: left; }

.image-center {
  text-align: center; }

.image-right {
  text-align: right; }

/* Set heading sizes, getting smaller for deeper nesting */
.topic-title-1 {
  font-size: 1.34em;
  margin-bottom: 0.1em;
  margin-top: 0; }

.topic-title-2 {
  font-size: 1.17em;
  margin-bottom: 0.45em;
  margin-top: 1pc; }

.topic-title-3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.17em;
  margin-top: 1pc; }

.topic-title-4 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 0.83em; }

.topic-title-5 {
  font-size: 1.17em;
  font-weight: bold; }

.topic-title-6 {
  font-size: 1.17em;
  font-style: italic; }

.section-title {
  color: #000;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1em; }

.section {
  margin-bottom: 1em;
  margin-top: 1em; }

.example {
  margin-bottom: 1em;
  margin-top: 1em; }

/* Most link groups are created with <div>. Ensure they have space before and after. */
.ul-child-links {
  list-style-type: none;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

.ol-child-links {
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

.link-label {
  font-weight: bold; }

.ul-friend-links {
  margin-top: 0;
  list-style-type: disc; }

/* Sl do not get a bullet */
ul.sl {
  list-style-type: none; }

/* Intended list style */
.list-style-none {
  list-style: none; }

ul.list-style-none li::before {
  content: "\200B"; }

/* list style type */
ul.list-style-disc {
  list-style: disc; }

ul.list-style-circle {
  list-style: circle; }

ul.list-style-square {
  list-style: square; }

ol.list-style-decimal {
  list-style: decimal; }

ol.list-style-lower-alpha {
  list-style: lower-alpha; }

ol.list-style-lower-roman {
  list-style: lower-roman; }

/* Default of bold for definition list terms */
.dt {
  font-weight: bold; }

/* Use CSS to compact lists with @compact="yes" */
li.compact-yes {
  line-height: 1.0; }

dt.compact-yes {
  line-height: 1.0; }

dd + dt.compact-yes {
  margin-top: 0.2em; }

dd.compact-yes {
  line-height: 1.0; }

/* Table foormatted dl */
.dl-table {
  border: black 1px solid; }

.dl-dlhead-th, .dl-dt-td, .dl-dd-td {
  border: black 1px solid;
  padding: 4px; }

/* All note formats have the same default presentation */
.note {
  margin-bottom: 1em;
  margin-top: 1em; }

.note .notetitle, .note .notelisttitle,
.note .note__title {
  font-weight: bold; }

/* Various basic phrase styles */
.bold {
  font-weight: bold; }

.bolditalic {
  font-style: italic;
  font-weight: bold; }

.italic {
  font-style: italic; }

.underlined {
  text-decoration: underline; }

.uicontrol {
  font-weight: bold; }

.defkwd {
  font-weight: bold;
  text-decoration: underline; }

.shortcut {
  text-decoration: underline; }

.menucascade > abbr {
  text-decoration: none; }

table {
  border-collapse: collapse; }

table caption {
  font-style: italic; }

.table-pgwide-1 {
  width: 100%; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.valign-top {
  vertical-align: top; }

.valign-bottom {
  vertical-align: bottom; }

.valign-middle {
  vertical-align: middle; }

.colsep-0 {
  border-right: 0; }

.colsep-1 {
  border-right: 1px solid; }

.rowsep-0 {
  border-bottom: 0; }

.rowsep-1 {
  border-bottom: 1px solid; }

.entry {
  padding-left: 4px;
  padding-right: 4px; }

.stentry {
  padding-left: 4px;
  padding-right: 4px; }

/* Add space for top level topics */
.nested0 {
  margin-top: 1em; }

/* div with class=p is used for paragraphs that contain blocks, to keep the XHTML valid */
.p {
  margin-top: 1em; }

body {
  line-height: 1.42857;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
